/*공통*/

html {
    height: 100%;
    width: 100%;
}

.regular {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: antiquewhite;
    overflow: hidden;
}

hr {
    border: solid 1px black;
}

body {
    background-color: antiquewhite;
    margin: 0;
}

/*========================================*/

 

/*index.html*/

.container_index_1 {
    height: 100%;
    width: 100%;
    position: relative;
}

.container_index_2 {
    height: 500px;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(0, -70%);
}

.buttonContainer_index {
    height: 100px;
    width: 100%;
    float: left;
    text-align: center;
    position: relative;
    /*background-color: red;*/
}

.titleText_index {
    text-align: center;
    font-size: 200px;
    /*background-color: aqua;*/
}

.gamestartButton {
    height: 100px;
    width: 300px;
    font-size: 40px;
    background-color: bisque;
    cursor: pointer;
}

/*========================================*/



/*game.html*/

div {
    width: 100%;
    height: 100%;
}

.container_game_1 {
    height: 100%;
    width: 100%;
    display: flex;
}

.left_game {
    height: 100%;
    width: 50%;
    float: left;
    box-sizing: border-box;
    border-style: solid;
    border-width: 2px;
}

.right_game {
    height: 100%;
    width: 50%;
    float: right;
    box-sizing: border-box;
    border-style: solid;
    border-width: 2px;
}

.frame_game_1 {
    height: 100%;
    width: 100%;
}

.frame_game_2 {
    height: 100%;
    width: 100%;
}


/*news.html*/


.container_news {
    height: 404px;
    width: 100%;
    border-width: 1px;
}

.container_news_ {
    height: auto;
    border-style: solid;
    border-width: 1px;
    float: left;
}

.news_img {
    height: 100px;
    width: 100px;
    background-color: bisque;
    border-right-style: solid;
    border-width: 1px;
    float: left;
}

.news_text {
    height: auto;
    font-size: 25px;
}

.news_sub {
    font-size: 14px;
}


/*========================================*/



/*market.html*/


#hangonguju {
    display: none;
}

#cha {
    display: none;
}

#enter {
    display: none;
}

#shikpoom {
    display: none;
}

#gunsul {
    display: none;
}

#game {
    display: none;
}

#jaeyak {
    display: none;
}

#it {
    display: none;
}

#joongongup {
    display: none;
}

.chart_button {
    border-width: 1px;
    background-color: bisque;
    cursor: pointer;
}

.select_regular {
    height: 20px;
}

.button_regular {
    height: 55px;
    padding: 8px 20px;
    border-width: 1px;
    background-color: bisque;
    cursor: pointer;
}


/**/

#news_page {
    overflow-y: scroll;
}

#news_page::-webkit-scrollbar {
    display: none;
}